.navbar {
    background: linear-gradient(to bottom right, #344a5f, #5a4d6a);
}


.navbar-custom {
    background: linear-gradient(to right, #2b5876, #4e4376);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.custom-brand {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: color 0.3s;
}

.custom-brand:hover {
    color: #dcdcdc;
}

.custom-link {
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 500;
    margin-right: 1rem;
    transition: color 0.3s;
}

.custom-link:hover {
    color: #dcdcdc;
}

.custom-logout-btn {
    border-color: #ffffff;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.custom-logout-btn:hover {
    background-color: #ffffff;
    color: #4e4376;
}

.navbar-toggler-icon {
    filter: invert(100%);
}